/* Adjust logo size */
.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 1.5rem; /* Increase the font size as needed */
}

/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

/* Tagline section styling */
.tagline-section {
    min-height: calc(100vh - 80px - 50px); /* Full height minus navbar and footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/static/images/background.jpg") no-repeat center center;
    background-size: cover; /* Ensure the image covers the container */
    position: relative;
    color: white;
}


/* Semi-transparent overlay with blur effect */
.tagline-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent dark overlay */
    backdrop-filter: blur(2.5px); /* Blur the background behind the text */
    z-index: 1;
}

.tagline-section h1 {
    font-size: 3rem;
    font-weight: bold;
    z-index: 2; /* Ensure text appears above the overlay */
}

.tagline-section p {
    font-size: 1.5rem;
    margin-top: 10px;
    z-index: 2;
}

/* Website description section styling */
.description-section {
    background-color: rgba(255, 255, 255, 0.7); /* Light white/gray overlay */
    color: #333;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 80px; /* Adds space for the fixed footer */
}

.description-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
}

.description-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #34495e;
}
